/* general */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0 0 0 0;
    width: 375px;
    font-family: 'Poppins', 'sans-serif';
    background-color: white;
}

/* gradient text */
strong {
    background: linear-gradient(to top left, rgb(200, 66, 113), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* isga logo top */
.logo {
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    height: 2em;
}

/* navigation */
nav {
    z-index: 100;
    display: flex;
    align-items: flex-end;
    height: 70px;
    background-color: white;
    width: 375px;
    bottom: 0;
    position: fixed;
    filter: drop-shadow(0px -3px 10px rgb(192, 192, 192))
}

nav li {
    align-items: center;
    display: inline-block;
    padding: 0 1em 0 1em;
    margin: 0 0 0 22px;
}

/* nav iconen */
.icon {
    width: 35px;
    height: auto;
    cursor: pointer;
}

/* nav text (when clicked) */
.NavTextHome {
    z-index: 100;
    position: absolute;
    position: fixed;
    bottom: -8px;
    margin-left: 75px;
    font-size: 13px;
}

.NavTextSocialFeed {
    z-index: 100;
    position: absolute;
    position: fixed;
    bottom: -8px;
    margin-left: 153px;
    font-size: 13px;
}

.NavTextProfile {
    z-index: 100;
    position: absolute;
    position: fixed;
    bottom: -8px;
    margin-left: 262px;
    font-size: 13px;
}

/* index.html */

.logo-index {
    margin: 0 auto 0 auto;
    width: 180px;
    height: auto;
}

.h3index {
    text-align: center;
    margin: 35px 20px 10px 20px;
    font-size: 22px;
    font-weight: 400;
}

.h4index {
    text-align: center;
    margin: 5px 20px 20px 20px;
    font-size: 23px;
    font-weight: 700;
}

.pindex {
    margin: 10px 25px 30px 25px;
    text-align: center;
    line-height: 22px;
}

.BtnLogin {
    background-color: rgb(255, 255, 255);
    padding: 1px 2px 1px 2px;
    margin: 10px 75px 10px 75px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnLogin a {
    text-decoration: none;
}

.BtnRegister {
    background-color: rgb(255, 255, 255);
    padding: 1px 2px 1px 2px;
    margin: 10px 75px 10px 75px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnRegister a {
    text-decoration: none;
}

.BtnGuest {
    background-color: rgb(245, 245, 245);
    padding: 1px 2px 1px 2px;
    margin: 10px 75px 10px 75px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnGuest a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

/* log-in-page.html */

.h3Login {
    text-align: center;
    margin: 60px 0 30px 0;
    font-size: 25px;
}

.LoginForm {
    margin: 10px 0 0 43px;
}

.LoginForm p {
    font-size: 18px;
    margin: 22px 0 0 0;
}

.BtnContinueLogin {
    background-color: rgb(255, 255, 255);
    padding: 1px 2px 1px 2px;
    margin: 220px 50px 10px 0px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnContinueLogin a {
    text-decoration: none;
}

/* register-page.html */

.ArrowLeftRegister {
    position: absolute;
    width: 25px;
    height: auto;
    margin: -30px 0 0 30px;
}

.h3register {
    text-align: center;
    font-size: 25px;
    margin: 60px 0 0 0;
}

.RegisterForm {
    margin: 10px 0 0 45px;
}

.RegisterForm p {
    font-size: 18px;
    margin: 22px 0 0 0;
}

.username {
    position: absolute;
    margin: 10px 0 0 0;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    width: 250px;
    border: none;
    box-shadow: inset 0 0 8px rgb(180, 180, 180);
}

.email {
    position: absolute;
    margin: 10px 0 0 0;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    width: 250px;
    border: none;
    box-shadow: inset 0 0 8px rgb(180, 180, 180);
}

.password {
    position: absolute;
    margin: 10px 0 0 0;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    width: 250px;
    border: none;
    box-shadow: inset 0 0 8px rgb(180, 180, 180);
}

.BtnContinue {
    background-color: rgb(255, 255, 255);
    padding: 1px 2px 1px 2px;
    margin: 130px 50px 10px 0px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnContinue a {
    text-decoration: none;
}

/* get-daily-challenge.html */

.YourChallenge {
    text-align: center;
    padding: 10px 30px;
    margin: 40px 20px 0 20px;
    color: rgba(255, 255, 255);
    border-radius: 30px;
    line-height: 40px;
    background: linear-gradient(to top left, rgb(175, 62, 149), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    box-shadow: 2px 2px 8px rgb(100, 100, 100);
}

.YourChallenge h4 {
    font-weight: 400;
    font-size: 16px;
}

/* Preview */

.h3post {
    text-align: center;
    font-size: 22px;
    margin: 30px 0;
}

.BtnOpenCamera {
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 10px 27px;
    margin: 20px 190px 0 30px;
    box-shadow: 2px 2px 8px rgb(180, 180, 180);
    border-radius: 20px;
}

.BtnOpenCamera img {
    width: 100px;
}

.BtnOpenCamera p {
    font-size: 14px;
}

.BtnUpload {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 10px 27px;
    margin: -177px 20px 0 200px;
    box-shadow: 2px 2px 8px rgb(180, 180, 180);
    border-radius: 20px;
}

.BtnUpload img {
    height: 90px;
    margin-left: 13px;
}

.BtnUpload p {
    margin: 5px 0 0 -5px;
    font-size: 14px;
    text-align: center;
    width: 115px;
    height: 45px;
}

.preview {
    margin: 10px 50px 30px 50px;
}

.PreviewUsername {
    margin: 0;
}

.pLocation {
    margin: 5px 0 15px 0;
}

.HeartIconPreview {
    padding: 0 10px;
    margin-top: 5px;
    height: 22px;
}

.PostImage img {
    width: 275px;
    border-radius: 10px;
}

.preview h4 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.InputComment {
    margin: 0 0 20px 0;
    font-size: 16px;
    padding: 5px 100px 40px 8px;
    border-radius: 10px;
    border-color: rgb(180, 180, 180);
}

.PostBtn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.PostBtn {
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 100px;
    border-radius: 20px;
    background: linear-gradient(to top left, rgb(175, 62, 149), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    filter: drop-shadow(1px 2px 5px rgb(120, 119, 119));
    cursor: pointer;
}

.PostBtn h3 {
    font-weight: 500;
    font-size: 25px;
    margin: 0;
}

/* media-page.html */

.TxtSocialFeed {
    margin: 30px 0 5px 15px;
    font-weight: 500;
}

.TxtSocialFeed2 {
    margin: 0 0 10px 15px;
}

.SocialFeedImage1 h5 {
    margin: 0 15px;
    font-weight: 400;
}

.SocialFeedImage1 .image {
    margin: 0 0 0 15px;
    position: absolute;
    border-radius: 5px;
    width: 165px;
    height: auto;
}

.SocialFeedImage1 .location-icon {
    position: absolute;
    margin: 250px 0 0 24px;
    width: 12px;
    height: auto;
}

.SocialFeedImage1 .heartP {
    position: absolute;
    margin: 225px 0 0 45px;
    font-size: 14px;
}

.SocialFeedImage1 .locationP {
    position: absolute;
    margin: 251px 0 0 43px;
    font-size: 11px;
}

.SocialFeedImage2 h5 {
    margin: -20px 0 0 195px;
    font-weight: 400;
}

.SocialFeedImage2 .image {
    margin: 0 0 0 195px;
    position: absolute;
    border-radius: 5px;
    width: 165px;
    height: auto;
}

.SocialFeedImage2 .location-icon {
    position: absolute;
    margin: 250px 0 0 199px;
    width: 12px;
    height: auto;
}

.SocialFeedImage2 .heartP {
    position: absolute;
    margin: 225px 0 0 220px;
    font-size: 14px;
}

.SocialFeedImage2 .locationP {
    position: absolute;
    margin: 251px 0 0 218px;
    font-size: 11px;
}

.SocialFeedImage3 h5 {
    margin: 280px 0 0 15px;
    font-weight: 400;
}

.SocialFeedImage3 .image {
    margin: 0 0 0 15px;
    position: absolute;
    border-radius: 5px;
    width: 165px;
    height: auto;
}

.SocialFeedImage3 .location-icon {
    position: absolute;
    margin: 250px 0 0 24px;
    padding-bottom: 80px;
    width: 12px;
    height: auto;
}

.SocialFeedImage3 .heartP {
    position: absolute;
    margin: 225px 0 0 45px;
    font-size: 14px;
}

.SocialFeedImage3 .locationP {
    position: absolute;
    margin: 251px 0 0 43px;
    font-size: 11px;
}

.SocialFeedImage4 h5 {
    margin: -20px 0 0 195px;
    font-weight: 400;
}

.SocialFeedImage4 .image {
    margin: 0 0 0 195px;
    position: absolute;
    border-radius: 5px;
    width: 165px;
    height: auto;
}

.SocialFeedImage4 .location-icon {
    position: absolute;
    margin: 251px 0 0 199px;
    width: 12px;
    height: auto;
}

.SocialFeedImage4 .heartP {
    position: absolute;
    margin: 225px 0 0 220px;
    font-size: 14px;
}

.SocialFeedImage4 .locationP {
    position: absolute;
    margin: 251px 0 0 218px;
    font-size: 11px;
    padding-bottom: 90px;
}

/* code van Jordy de studenten assistent */

/* 1 */

.SocialFeedImage1 .checker-heart {
    position: absolute;
    background-image: url(icons/heart-icon.svg);   
    background-repeat: no-repeat;
    margin: 225px 0 0 20px;
}

.SocialFeedImage1 #trigger-heart:checked + .checker-heart {
    background-image: url(icons/heart-icon-color.svg);
    margin: 225px 0 0 20px;
}

.SocialFeedImage1 .trigger {
    display: none;
  }

.SocialFeedImage1 .checker {
    display: block;
    width: 20px;
    height: 20px;
    transition: all ease 300ms;
}

/* 2 */

.SocialFeedImage2 .checker-heart {
    position: absolute;
    background-image: url(icons/heart-icon.svg);   
    background-repeat: no-repeat;
    margin: 225px 0 0 195px;
}

.SocialFeedImage2 #trigger-heart2:checked + .checker-heart {
    background-image: url(icons/heart-icon-color.svg);
    margin: 225px 0 0 195px;
}

.SocialFeedImage2 .trigger {
    display: none;
  }

.SocialFeedImage2 .checker {
    display: block;
    width: 20px;
    height: 20px;
    transition: all ease 300ms;
}

/* 3 */

.SocialFeedImage3 .checker-heart {
    position: absolute;
    background-image: url(icons/heart-icon.svg);   
    background-repeat: no-repeat;
    margin: 225px 0 0 20px;
}

.SocialFeedImage3 #trigger-heart3:checked + .checker-heart {
    background-image: url(icons/heart-icon-color.svg);
    margin: 225px 0 0 20px;
}

.SocialFeedImage3 .trigger {
    display: none;
  }

.checker {
    display: block;
    width: 20px;
    height: 20px;
    transition: all ease 300ms;
}

/* 4 */

.SocialFeedImage4 .checker-heart {
    position: absolute;
    background-image: url(icons/heart-icon.svg);   
    background-repeat: no-repeat;
    margin: 225px 0 0 195px;
}

.SocialFeedImage4 #trigger-heart4:checked + .checker-heart {
    background-image: url(icons/heart-icon-color.svg);
    margin: 225px 0 0 195px;
}

.SocialFeedImage4 .trigger {
    display: none;
  }

.SocialFeedImage4 .checker {
    display: block;
    width: 20px;
    height: 20px;
    transition: all ease 300ms;
}

/* profile.html */

.ProfileBtn {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0.5px 20px 0.5px 20px;
    margin: 20px 30px 0 30px;
    border-radius: 20px;
    background: linear-gradient(to top left, rgb(175, 62, 149), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    filter: drop-shadow(1px 2px 5px rgb(120, 119, 119));
    cursor: pointer;
}

.ProfileBtn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.ProfileBtnLogOut {
    font-size: 18px;
    text-align: center;
    padding: 0.5px 20px 0.5px 20px;
    margin: 20px 30px 0 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(1px 2px 5px rgb(120, 119, 119));
    cursor: pointer;
}
.ProfileBtnLogOut a {
    text-decoration: none;
}

.TxtProfilePage {
    font-size: 22px;
    margin: 25px 0 0 30px;
}

/* account-settings-choose-challenge.html */

.ArrowLeftStatue {
    width: 25px;
    margin: -45px 0 0 30px;
}

.h3profile-sub {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 -5px 0;
}

