/* general */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0 0 0 0;
    width: 375px;
    font-family: 'Poppins', 'sans-serif';
    background-color: white;
}

/* gradient text */
strong {
    background: linear-gradient(to top left, rgb(200, 66, 113), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* isga logo top */
.logo {
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    height: 2em;
}

/* navigation */
nav {
    z-index: 100;
    display: flex;
    align-items: flex-end;
    height: 70px;
    background-color: white;
    width: 375px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    filter: drop-shadow(0px -3px 10px rgb(192, 192, 192))
}

nav li {
    display: inline-block;
    padding: 0 1em 0 1em;
}

/* nav iconen */
.icon {
    width: 35px;
    height: auto;
    cursor: pointer;
}

/* nav text (when clicked) */
.NavTextHome {
    z-index: 100;
    position: absolute;
    position: fixed;
    bottom: -8px;
    margin-left: 54px;
    font-size: 13px;
}

.NavTextPost {
    z-index: 100;
    position: absolute;
    position: fixed;
    bottom: -6px;
    margin-left: 115px;
    font-size: 12px;
}

.NavTextSocialFeed {
    z-index: 100;
    position: absolute;
    position: fixed;
    bottom: -8px;
    margin-left: 180px;
    font-size: 13px;
}

.NavTextProfile {
    z-index: 100;
    position: absolute;
    position: fixed;
    bottom: -8px;
    margin-left: 268px;
    font-size: 13px;
}

/* index.html */

.logo-index {
    margin: 0 auto 0 auto;
    width: 180px;
    height: auto;
}

.h3index {
    text-align: center;
    margin: 35px 20px 10px 20px;
    font-size: 22px;
    font-weight: 400;
}

.h4index {
    text-align: center;
    margin: 5px 20px 20px 20px;
    font-size: 23px;
    font-weight: 700;
}

.pindex {
    margin: 10px 25px 30px 25px;
    text-align: center;
    line-height: 22px;
}

.BtnLogin {
    background-color: rgb(255, 255, 255);
    padding: 1px 2px 1px 2px;
    margin: 10px 75px 10px 75px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnLogin a {
    text-decoration: none;
}

.BtnRegister {
    background-color: rgb(255, 255, 255);
    padding: 1px 2px 1px 2px;
    margin: 10px 75px 10px 75px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnRegister a {
    text-decoration: none;
}

.BtnGuest {
    background-color: rgb(245, 245, 245);
    padding: 1px 2px 1px 2px;
    margin: 10px 75px 10px 75px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnGuest a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

/* log-in-page.html */

.h3Login {
    text-align: center;
    margin: 60px 0 30px 0;
    font-size: 25px;
}

.LoginForm {
    margin: 10px 0 0 43px;
}

.LoginForm p {
    font-size: 18px;
    margin: 22px 0 0 0;
}

.BtnContinueLogin {
    background-color: rgb(255, 255, 255);
    padding: 1px 2px 1px 2px;
    margin: 220px 50px 10px 0px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnContinueLogin a {
    text-decoration: none;
}

/* register-page.html */

.ArrowLeftRegister {
    position: absolute;
    width: 25px;
    height: auto;
    margin: -30px 0 0 30px;
}

.h3register {
    text-align: center;
    font-size: 25px;
    margin: 60px 0 0 0;
}

.RegisterForm {
    margin: 10px 0 0 45px;
}

.RegisterForm p {
    font-size: 18px;
    margin: 22px 0 0 0;
}

.username {
    position: absolute;
    margin: 10px 0 0 0;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    width: 250px;
    border: none;
    box-shadow: inset 0 0 8px rgb(180, 180, 180);
}

.email {
    position: absolute;
    margin: 10px 0 0 0;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    width: 250px;
    border-color: rgb(180, 180, 180);
}

.password {
    position: absolute;
    margin: 10px 0 0 0;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    width: 250px;
    border: none;
    box-shadow: inset 0 0 8px rgb(180, 180, 180);
}

.BtnContinue {
    background-color: rgb(255, 255, 255);
    padding: 1px 2px 1px 2px;
    margin: 130px 50px 10px 0px;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 8px rgb(180, 180, 180));
    text-align: center;
    cursor: pointer;
}

.BtnContinue a {
    text-decoration: none;
}

/* preferences-page.html */

.preferences h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: -25px;
}

.preferences p {
    margin: 40px 0 5px 20px;
    font-weight: 500;
}

.VeelWoorden {
    display: flex;
    flex-flow: row wrap;
    line-height: 10px;
    margin-left: 12px;
}

.VeelWoorden p {
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    padding: 7px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgb(180, 180, 180);
    margin: 5px 7px;
}

.BtnHome a {
    text-decoration: none;
}

.GetChallenge {
    text-align: center;
    position: absolute;
    color: black;
    font-weight: 500;
    padding: 2px 20px 2px 20px;
    box-shadow: 2px 3px 8px rgb(180, 180, 180);
    border-radius: 20px;
    margin: 10px 0 0 200px;
}

.ChooseOwn {
    text-align: center;
    position: absolute;
    color: black;
    font-weight: 500;
    padding: 2px 20px 2px 20px;
    box-shadow: 2px 3px 8px rgb(180, 180, 180);
    border-radius: 20px;
    margin: 10px 0 0 15px;
}

.slider {
    width: 300px;
    margin-left: 40px;
}

/* daily-challenge.html */

.BtnDailyChallengeSub a {
    font-size: 14px;
    line-height: 4vw;
    position: relative;
    text-decoration: none;
    color: white;
}

.BtnDailyChallengeSub {
    width: 315px;
    border: none;
    padding: 1px 15px 1px 15px;
    margin: 10px auto 20px auto;
    border-radius: 25px;
    background: linear-gradient(to top left, rgb(175, 62, 149), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    filter: drop-shadow(1px 2px 5px rgb(120, 119, 119));
}

.BtnDailyChallengeSub h2 {
    font-size: 18px;
}

.BtnDailyChallengeSubEnd a {
    font-size: 14px;
    line-height: 4vw;
    position: relative;
    text-decoration: none;
    color: white;
}

.BtnDailyChallengeSubEnd {
    width: 315px;
    border: none;
    padding: 1px 15px 1px 15px;
    margin: 10px auto 80px auto;
    border-radius: 25px;
    background: linear-gradient(to top left, rgb(175, 62, 149), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    filter: drop-shadow(1px 2px 5px rgb(120, 119, 119));
}

.BtnDailyChallengeSubEnd h2 {
    font-size: 18px;
}

svg {
    position: absolute;
    margin: -43px 0 0 240px;
    width: 25px;
    height: 25px;
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.TitleTxt {
    margin: 30px 15px 0 15px;
}

/* subpage-daily-challenge */

.ContainerSub {
    color: white;
    padding: 5vw 8vw 5vw 8vw;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background: linear-gradient(to top left, rgb(175, 62, 149), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    filter: drop-shadow(1px 2px 5px rgb(120, 119, 119))
}

.ContainerSub .SubDescription {
    font-size: 14px;
}

.ContainerSub .TxtSubPage {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    line-height: 1vw;
}

.ContainerSub h4 {
    margin: 3vw 0 0 0;
}

.ContainerSub .BtnSubPage {
    width: 200px;
    font-size: 13px;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 1px 0 1px 0;
    border-radius: 25px;
    background-color: white;
    filter: drop-shadow(1px 2px 5px rgb(106, 105, 105))
}

.BtnSubPage a {
    text-decoration: none;
}

.ArrowLeft {
    width: 20px;
    height: auto;
    margin: -10px 0 -10px -30px;
}

/* get-daily-challenge.html */

.YourChallenge {
    text-align: center;
    padding: 10px 30px;
    margin: 40px 20px 0 20px;
    color: rgba(255, 255, 255);
    border-radius: 30px;
    line-height: 40px;
    background: linear-gradient(to top left, rgb(175, 62, 149), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    box-shadow: 2px 2px 8px rgb(100, 100, 100);
}

.YourChallenge h4 {
    font-weight: 400;
    font-size: 16px;
}

.h3GetChallenge {
    margin: 20px 25px;
}

/* start-challenge */

.ArrowLeftBike {
    position: absolute;
    margin: -28px 0 0 25px;
    width: 20px;
    height: auto;
}

.ArrowLeftHat {
    position: absolute;
    margin: -28px 0 0 25px;
    width: 20px;
    height: auto;
}

.ArrowLeftDog {
    position: absolute;
    margin: -28px 0 0 25px;
    width: 20px;
    height: auto;
}

.ArrowLeftStatue {
    position: absolute;
    margin: -28px 0 0 25px;
    width: 20px;
    height: auto;
}

.ArrowLeftStreetart {
    position: absolute;
    margin: -28px 0 0 25px;
    width: 20px;
    height: auto;
}

/* post-page-choose-challenge.html */

.h3post {
    text-align: center;
    font-size: 22px;
    margin: 30px 0;
}

.BtnOpenCamera {
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 10px 27px;
    margin: 20px 190px 0 30px;
    box-shadow: 2px 2px 8px rgb(180, 180, 180);
    border-radius: 20px;
}

.BtnOpenCamera img {
    width: 100px;
}

.BtnOpenCamera p {
    font-size: 14px;
}

.BtnUpload {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 10px 27px;
    margin: -177px 20px 0 200px;
    box-shadow: 2px 2px 8px rgb(180, 180, 180);
    border-radius: 20px;
}

.BtnUpload img {
    width: 100px;
}

.BtnUpload p {
    margin: 5px 0 0 -5px;
    font-size: 14px;
    text-align: center;
    width: 115px;
    height: 45px;
}

.preview {
    margin: 10px 50px 30px 50px;
}

.preview img {
    margin-top: 5px;
    height: 22px;
}

.HeartIconPreview {
    padding: 0 10px;
}

.box {
    background-color: red;
    width: 50px;
    height: 50px;
}

.preview h4 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* media-page.html */

.TxtSocialFeed {
    margin: 25px 0 20px 15px;
}

.SocialFeedImage1 h5 {
    margin: 0 15px;
    font-weight: 400;
}

.SocialFeedImage1 .image {
    margin: 0 0 0 15px;
    position: absolute;
    border-radius: 5px;
    width: 165px;
    height: auto;
}

.SocialFeedImage1 .heart-icon {
    margin: 127px 0 0 20px;
    position: absolute;
    width: 20px;
    height: auto;
}

.SocialFeedImage1 .location-icon {
    position: absolute;
    margin: 127px 0 0 120px;
    width: 12px;
    height: auto;
}

.SocialFeedImage1 p {
    position: absolute;
    margin: 127px 0 0 45px;
    font-size: 14px;
}

.SocialFeedImage2 h5 {
    margin: -20px 0 0 195px;
    font-weight: 400;
}

.SocialFeedImage2 .image {
    margin: 0 0 0 195px;
    position: absolute;
    border-radius: 5px;
    width: 165px;
    height: auto;
}

.SocialFeedImage2 .heart-icon {
    margin: 225px 0 0 195px;
    position: absolute;
    width: 20px;
    height: auto;
}

.SocialFeedImage2 .location-icon {
    position: absolute;
    margin: 225px 0 0 300px;
    width: 12px;
    height: auto;
}

.SocialFeedImage2 p {
    position: absolute;
    margin: 225px 0 0 220px;
    font-size: 14px;
}

.SocialFeedImage3 h5 {
    margin: 170px 0 0 15px;
    font-weight: 400;
}

.SocialFeedImage3 .image {
    margin: 0 0 0 15px;
    position: absolute;
    border-radius: 5px;
    width: 165px;
    height: auto;
}

.SocialFeedImage3 .heart-icon {
    margin: 120px 0 0 20px;
    position: absolute;
    width: 20px;
    height: auto;
}

.SocialFeedImage3 .location-icon {
    position: absolute;
    margin: 120px 0 0 120px;
    width: 12px;
    height: auto;
}

.SocialFeedImage3 p {
    position: absolute;
    margin: 120px 0 0 45px;
    font-size: 14px;
}

.SocialFeedImage4 h5 {
    margin: 80px 0 0 195px;
    font-weight: 400;
}

.SocialFeedImage4 .image {
    margin: 0 0 0 195px;
    position: absolute;
    border-radius: 5px;
    width: 165px;
    height: auto;
}

.SocialFeedImage4 .heart-icon {
    margin: 115px 0 0 195px;
    position: absolute;
    width: 20px;
    height: auto;
}

.SocialFeedImage4 .location-icon {
    position: absolute;
    margin: 115px 0 0 300px;
    width: 12px;
    height: auto;
}

.SocialFeedImage4 p {
    position: absolute;
    margin: 115px 0 0 220px;
    font-size: 14px;
}

/* profile.html */

.ProfileBtn {
    cursor: pointer;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0.5px 20px 0.5px 20px;
    margin: 20px 30px 0 30px;
    border-radius: 20px;
    background: linear-gradient(to top left, rgb(175, 62, 149), rgb(250, 136, 36));
    background-clip: border-box;
    -webkit-background-clip: border-box;
    filter: drop-shadow(1px 2px 5px rgb(120, 119, 119))
}

.ProfileBtn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.TxtProfilePage {
    font-size: 22px;
    margin: 25px 0 0 30px;
}

/* login-profile.html */

.ArrowLeftLogin {
    width: 26px;
    margin: -50px 0 0 25px;
}
